<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ICA Project</title>
</head>

<body>
    <div class="ui inverted segment">
        <div class="ui inverted secondary menu">
            <a href="/" class="<% if (navigation == 'accueil') {%><%='active'%><%} %> item">
                Accueil
            </a>
            <a href="/projets" class="<% if (navigation == 'projets') {%><%='active'%><%} %> item">
                Projets
            </a>
            <a href="/profil" class="<% if (navigation == 'profil') {%><%='active'%><%} %> item">
                Profil
            </a>
            <div class="right menu item">
                -----
                <i class="euro sign icon"></i>
              </div>
        </div>
    </div>
    <div class="ui main container">
