<% include ../modules/header %>

<div class="ui comments">
    <h3 class="ui dividing header">Liste des projets</h3>
    <% for (projet of listeProjets) { %>
        <div class="projet">
            <b><%= projet.titre %></b><br/>
            <%= projet.contenu %>
        </div>
    <% } %>
</div>

<% include ../modules/footer %>

